.help_section form textarea{
    height: 165px;
}
.details_office iframe {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.help_info h6 {
    font-size: 22px;
}
.help_info span {
    font-size: 19px;
}
.details_office {
    padding-top: 70px;
}