.booking_hotels_section {
    background-color: white;
}

.hotel_details{
    box-shadow: 0px 3px 6px #00000029;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 33;
    padding: 10px 20px;
    min-height: 114px;
    margin-top: -4%;
}
.hotel_details .main div {
    top: -17px;
    left: 5px;
}
.accordion-flush .accordion-item .accordion-button ,
.accordion-button::after
{
    padding-left: 0px;
    padding-right: 0px;
    text-transform: capitalize;
    font-size: 15px;
    color: #1C4482;

}
.setted_tour_cards img {
    max-width: inherit;
    width: 417px;
    height: 210px;
}
.setted_info .card_info h6 {
    font-size: 18px;
    color: #1C4482;
    text-transform: capitalize;
    font-weight: 700;
}
.setted_info .card_info span {
    color: #7E7E7E;
    z-index: 10;
}
.setted_info .card_info span:hover i {
    color: #1C4482;
    font-weight: 600;

}
.setted_info > span span {
    margin-left: 8px;
    margin-right: 8px;

}
.setted_tour_cards:hover .card_info h6 {
    text-decoration: underline;
} 

.setted_tour_cards:hover .image_overlay::after {
    display: none;
}
/* .setted_tour_cards .image_overlay::after{
    width: 99%;

} */
.btn:hover {
    color: inherit;
}
.rating i {
    font-size: 15px;
    color: #F97150;
}
.rating span {
    color: #7E7E7E;
    font-size: 15px;
    padding-left: 8px;
}
.hotels_price {
    font-size: 22px;
    color: #1C4482;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 700;
}
.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hotel_details .main button {
margin-top: 0px;
}
.accordion-button:not(.collapsed) {
    background-color: transparent;
}
.accordion-button:focus {
    border-color: transparent;
    box-shadow: none;
}
.search_tours h6 {
    margin-bottom: 10px;
}
.accordion-button:not(.collapsed) {
    box-shadow: none;
}
.accordion-body {
    padding-top: 0px;
    border-top: none;
}
.calender i {
    color: #168BB8;
}
#hotel_search {
    margin-top: 30px;
}


@media (min-width: 320px) and (max-width: 767px){
    .hotel_details .main{
        margin-top: 12px;
    }
    /* .tours {
        margin-top: 127% !important;
    } */
    .setted_tour_cards {
        width: fit-content;
        margin: auto;
    }
    .setted_tour_cards img{
        width: 100%;
    }
    .filter_labels {
        position: static;
        display: block ;
    }
    .hotel_details {
        padding-bottom: 25px;
    }
    .card-content{
        margin-bottom: 25px;
    }
 
}
@media (min-width: 768px) and (max-width: 991px) {
    .filter_labels {
        position: static;
        display: block ;
    }
    .card-content{
        margin-bottom: 25px;
    }
  
}


